.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }


  .badge {
    font-size: 0.9rem; /* Adjust font size */
    padding: 0.5em 0.8em; /* Add padding */
    border-radius: 0.5rem; /* Make the badges more rounded */
    margin-right: 0.5em; /* Add spacing between badges */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  