<div>

    <div class="content-wrapper">
        <!-- begin::navigation -->
        <app-navigation></app-navigation>
        <!-- end::navigation -->

        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="content">
                <div class="card bg-primary-bright border-0">
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <h4>Daily Usage</h4>
                        <div id="daily-usage"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="row mb-4">
                                    <div class="col-md-8 offset-md-2">
                                        <img src="../../assets/media/svg/report.svg" class="img-fluid" alt="report">
                                    </div>
                                </div>
                                <h4 class="my-3">Create Memo</h4>
                                <p class="text-muted">Create memo to grow their business and serve their customers
                                    better. Use this tool to generate reports.</p>
                                <button class="btn btn-outline-primary btn-lg2" (click)="openModal()">Create
                                    Memo</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-title d-flex justify-content-between">
                    <h4>Favorite Folders</h4>
                    <a class="view-all-link" [routerLink]="['/portal/files']">View All</a>

                </div>

                <div *ngIf="isLoading" class="spinner-container">
                    <div class="spinner"></div>
                </div>
                <div class="row" *ngIf="!isLoading">
                    <div class="col-md-3" *ngFor="let folder of data">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <i class="font-size-22 ti-folder"></i>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h5>{{folder.MemFoldName}}</h5>
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                            <i class="ti-more-alt"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">Pending....</a>
                                        </div>
                                    </div>
                                </div>
                                <p class="small text-muted mb-0">{{folder.total_file}} Files</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="content-title d-flex justify-content-between">
                    <h4>Quick Access</h4>
                    <a [routerLink]="['/portal/files']">View All</a>
                </div>

                <div class="row mb-4">
                    <div class="col-md-2 text-center">
                        <div class="card mb-3">
                            <div class="card-body cursor-pointer">
                                <div (click)="openModal()" class="avatar avatar-lg">
                                    <span class="avatar-title rounded-pill">
                                        <i class="ti-plus"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h6>Add</h6>
                    </div>
                </div>

                <div class="content-title d-flex justify-content-between">
                    <h4>Recent Memo</h4>
                    <a [routerLink]="['/portal/files']">View All</a>
                </div>

                <div *ngIf="isLoading" class="spinner-container">
                    <div class="spinner"></div>
                </div>
                <div class="mb-4">
                    <div class="table-responsive" *ngIf="!isLoading">
                        <table class="table table-borderless table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date Created</th>
                                    <th>Folder Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let recent of recentFiles">
                                <tr>
                                    <td>
                                        <a href="#">
                                            <figure class="avatar avatar-sm mr-2">
                                                <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                                    <i class="ti-folder"></i>
                                                </span>
                                            </figure>
                                            {{recent.MemTitle}}
                                        </a>
                                    </td>

                                    <td>{{format(recent?.CreatedAt)}}</td>

                                    <td>
                                        {{recent?.MemFoldName}}
                                    </td>
                                    <td>
                                        <span class="badge badge-pill {{statusClasses[recent?.IsPublished]}}">
                                            {{status[recent?.IsPublished]??'Pending'}}

                                        </span>
                                    </td>

                                    <td class="text-right">
                                        <div class="dropdown" *ngIf="recent?.IsPublished==0 || recent?.IsPublished==1">
                                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                                <i class="ti-more-alt"></i>
                                            </a>
                                            <ng-container *ngIf="isAdmin">
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <span class="dropdown-item cursor-pointer bg-success hover-bg-success-light hover-text-dark"
                                                        (click)="approve(recent.Id,'approve')">Approve</span>
                                                    <span class="dropdown-item cursor-pointer bg-danger  hover-bg-danger-light hover-text-dark mt-2" 
                                                        (click)="approve(recent.Id,'reject')">Reject</span>
                                                </div>
                                            </ng-container>

                                            <ng-container >
                                                <div class="dropdown-menu dropdown-menu-right" *ngIf="!isAdmin && recent.IsPublished==0">
                                                    <span class="dropdown-item cursor-pointer"
                                                        (click)="editFiles(recent?.MemUniqueId)"
                                                        data-sidebar-target="#view-file">{{isEditLoader ? "Loading..." :
                                                        "Edit"}}</span>
                                                </div>
                                            </ng-container>

                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <ng-container *ngIf="isAdmin">
                    <div class="content-title d-flex justify-content-between">
                        <h4>Last Activities</h4>
                    </div>
                    <div *ngIf="isLoading" class="spinner-container">
                        <div class="spinner"></div>
                    </div>

                    <div class="row mb-5" *ngIf="!isLoading">
                        <div class="col-md-12">
                            <div class="timeline">
                                <div class="timeline-item" *ngFor="let item of activities">
                                    <div>
                                        <figure class="avatar mr-3">
                                            <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle"
                                                alt="image">
                                        </figure>
                                    </div>
                                    <div>
                                        <h6 style="margin-top: 50ppx;" class="d-md-flex justify-content-between mt-3">
                                            <span class="d-block">
                                                <a class="link-1">
                                                    <p>{{item?.ViewEmail}} from {{item?.ViewLoc}} viewed this memo on
                                                        {{format(item?.CreatedAt)}} at approximately
                                                        {{formatTime(item?.CreatedAt)}}.</p>
                                                </a>
                                            </span>

                                            <!-- <span class="text-muted font-weight-normal">{{format(item?.CreatedAt)}}</span> -->
                                            <!-- <span>{{formatTime(item?.CreatedAt)}}</span> -->
                                        </h6>
                                        <a href="#">
                                            <!-- <p [innerHTML]="item?.Mem?.MemContents">/p> -->
                                            <!-- <span class="text-primary">{{item?.Mem.MemFullLink}}</span> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- <div class="timeline">
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        A file of <a href="#" class="link-1">Jonny Richie</a> has been shared.
                    </span>
                    <span class="text-muted font-weight-normal">4h</span>
                </h6>
                <div class="avatar-group">
                    <figure class="avatar" title="Lisle Essam" data-toggle="tooltip">
                        <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                    </figure>
                    <figure class="avatar" title="Baxie Roseblade" data-toggle="tooltip">
                        <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                    </figure>
                    <figure class="avatar" title="Baxie Roseblade" data-toggle="tooltip">
                        <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                    </figure>
                    <figure class="avatar" title="Jo Hugill" data-toggle="tooltip">
                        <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                    </figure>
                    <figure class="avatar" title="Cullie Philcott" data-toggle="tooltip">
                        <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                    </figure>
                    <figure class="avatar" title="Cullie Philcott" data-toggle="tooltip">
                        <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                    </figure>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Marc Hugill</a> uploaded new files
                    </span>
                    <span class="text-muted font-weight-normal">Tue 8:17pm</span>
                </h6>
                <div class="card card-body mb-3 d-flex justify-content-between flex-row">
                    <div>
                        <a href="#">
                            <i class="fa fa-file-pdf-o mr-2"></i> test-file-1.pdf
                        </a>
                        <span class="ml-3 small">70 KB</span>
                    </div>
                    <div>
                        <a href="#" title="View file">
                            <i class="ti-eye"></i>
                        </a>
                    </div>
                </div>
                <div class="card card-body mb-3 d-flex justify-content-between flex-row">
                    <div>
                        <a href="#">
                            <i class="fa fa-file-excel-o mr-2"></i> test-file-2.xlsx
                        </a>
                        <span class="ml-3 small">17 KB</span>
                    </div>
                    <div>
                        <a href="#" title="View file">
                            <i class="ti-eye"></i>
                        </a>
                    </div>
                </div>
                <div class="card card-body mb-3 d-flex justify-content-between flex-row">
                    <div>
                        <a href="#">
                            <i class="fa fa-file-text-o mr-2"></i> test-file-3.txt
                        </a>
                        <span class="ml-3 small">152 KB</span>
                    </div>
                    <div>
                        <a href="#" title="View file">
                            <i class="ti-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div>
                <figure class="avatar mr-3">
                    <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                </figure>
            </div>
            <div>
                <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Cullie Philcott</a> uploaded a picture
                    </span>
                    <span class="text-muted font-weight-normal">Tue 8:17pm</span>
                </h6>
                <div class="row row-xs">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
                        <figure>
                            <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
                        <figure>
                            <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
                        <figure>
                            <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
            </div>
            <!-- ./ Content -->

            <!-- Footer -->
            <!-- <footer class="content-footer d-print-none">
                <div>© 2020 Filedash - <a href="http://laborasyon.com" target="_blank">Laborasyon</a></div>
                <div>
                    <nav class="nav">
                        <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                        <a href="#" class="nav-link">Change Log</a>
                        <a href="#" class="nav-link">Get Help</a>
                    </nav>
                </div>
            </footer> -->
            <!-- ./ Footer -->
        </div>
        <!-- ./ Content body -->

        <!-- Sidebar group -->
        <app-sidebar></app-sidebar>
        <!-- <app-sidebargroup></app-sidebargroup> -->

        <!-- Use sidebarVisible to control the visibility of app-sidebargroup -->

        <!-- Toggle button to show/hide the sidebar -->
        <!-- <button (click)="toggleSidebar()">
          {{ sidebarVisible ? 'Hide Sidebar' : 'Show Sidebar' }}
        </button> -->
    </div>

</div>