     <div class="form-membership" style="background: url(../../assets/media/image/image1.jpg)">
         <div class="form-wrapper">
    
           
             <div id="logo">
                <img src="../../assets/media/image/logo-dark.png" alt="image">
             </div>
           
    
            <h5>Enter your Otp</h5>
    
        <!-- form -->
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
             <div class="form-group">
                    <input 
                        type="otp" 
                        class="form-control" 
                        formControlName="otp" 
                       placeholder="number" 
                       [ngClass]="{'is-invalid': authForm.get('otp').invalid && authForm.get('otp').touched}" 
                        required>
                    <div *ngIf="authForm.get('otp').invalid && authForm.get('otp').touched" class="invalid-feedback">
                        <small *ngIf="authForm.get('otp').errors.required">Password is required.</small>
                        <small *ngIf="authForm.get('otp').errors.minlength">Password must be at least 6 characters long.</small>
                 </div>
                </div>
                <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700">
                    {{ isLoading ? 'Submitting...' : 'Submit' }}
                  </button>
              <hr>
           </form>
   
    
        </div>
    </div>
