<div class="login-page">
    <div class="left-panel">
        <div>
          <h1>IMSET-AI 4.2</h1>
            <h1>INTEGRATED MEMO
              SECURITY TERMINAL</h1>
            <p>A comprehensive system designed to protect the integrity, accessibility, availability organization’s sensitive information</p>
            
            <div class="features-grid">
                <div class="row">
                    <div class="col-3 feature-item">
                      <i class="fa fa-lock"></i>
                        <p>Security</p>
                    </div>
                    <div class="col-3 feature-item">
                      <i class="fa fa-lock"></i>
                        <p>Confidentiality</p>
                    </div>
                    <div class="col-3 feature-item">
                      <i class="fa fa-lock"></i>
                        <p>integrity</p>
                    </div>
                    <div class="col-3 feature-item">
                      <i class="fa fa-lock"></i>
                        <p>availability</p>
                    </div>
                </div>
            </div>
        </div>
  
        <address>
            Aviation House P.M.B. 21029 Ikeja Murtala Mohammed Airport Ikeja Lagos<br>
            <a href="tel:+23414721521">+234-1-472-1521</a>, <a href="tel:+23412790421">+234-1-279-0421</a><br>
            <a href="mailto:cpd@ncaa.gov.ng">cpd.gov.ng</a><br>
            <a href="https://www.ncaa.gov.ng">www.ncaa.gov.ng</a>
        </address>
    </div>
  
    <div class="right-panel">
        <div class="login-form">
            <h2>Forgot Password</h2>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input 
                type="text" 
                class="form-control" 
                formControlName="identity" 
                placeholder="Identity (Username or Email)" 
                [ngClass]="{'is-invalid': forgotPasswordForm.get('identity').invalid && forgotPasswordForm.get('identity').touched}"
                required 
                autofocus>
                <div *ngIf="forgotPasswordForm.get('identity').invalid && forgotPasswordForm.get('identity').touched" class="invalid-feedback">
                    <small *ngIf="forgotPasswordForm.get('identity').errors.required">Identity is required.</small>
                    <small *ngIf="forgotPasswordForm.get('identity').errors.email">Please enter a valid email.</small>
                </div>
              </div>
               
              <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700">
                {{ isLoading ? 'Logging in...' : 'Login' }}
              </button>
          </form>
        </div>
    </div>
  </div>
  