<div class="landing-page">
    <app-navbar></app-navbar>
    <app-navigating></app-navigating>
    <app-landingpageusers></app-landingpageusers>
    <app-addressblockchain></app-addressblockchain>
    <!-- <app-competitor></app-competitor> -->
    <!-- <app-platform></app-platform> -->
    <!-- <app-token></app-token> -->
    <!-- <app-bonus></app-bonus> -->
    <!-- <app-team></app-team> -->
    <!-- <app-distribution></app-distribution> -->
    <!-- <app-question></app-question> -->
    <!-- <app-partner></app-partner> -->
    <!-- <app-footer></app-footer> -->
</div>
