<div class="layout-wrapper">
    <!-- Header -->
    <!-- <div class="header d-print-none">
        <div class="header-container">
            <div class="header-body">
                <div class="header-body-left">
                    <ul class="navbar-nav">
                        <li class="nav-item navigation-toggler">
                            <a href="#" class="nav-link">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="header-search-form">
                                <form>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn">
                                                <i class="ti-search"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Search something...">
                                        <div class="input-group-append">
                                            <button class="btn header-search-close-btn">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="header-body-right">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link mobile-header-search-btn" title="Search">
                                <i class="ti-search"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" title="Dark">
                                <i class="fa fa-moon-o"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link nav-link-notify" title="Notifications" data-toggle="dropdown">
                                <i class="ti-bell"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                <div class="bg-primary px-3 py-3">
                                    <h6 class="mb-0">Notifications</h6>
                                </div>
                                <div class="dropdown-scroll">
                                    <ul class="list-group list-group-flush">
                                        <li>
                                            <a href="#" class="list-group-item d-flex hide-show-toggler">
                                                <div>
                                                    <figure class="avatar mr-3">
                                                        <span class="avatar-title bg-secondary-bright text-secondary rounded-circle">
                                                            <i class="ti-server"></i>
                                                        </span>
                                                    </figure>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="mb-0">
                                                        Your storage space is running low!
                                                        <i title="Mark as unread" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11 position-absolute right-0 top-0 mr-3 mt-3"></i>
                                                    </p>
                                                    <span class="text-muted small">4 sec ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="list-group-item d-flex hide-show-toggler">
                                                <div>
                                                    <figure class="avatar mr-3">
                                                        <img src="../../assets/media/image/user/man_avatar4.jpg" class="rounded-circle" alt="avatar">
                                                    </figure>
                                                </div>
                                                <div>
                                                    <p class="mb-0">
                                                        <span class="text-primary">Jonny Richie</span> uploaded new
                                                        files
                                                        <i title="Mark as read" data-toggle="tooltip" class="hide-show-toggler-item fa fa-circle-o font-size-11 position-absolute right-0 top-0 mr-3 mt-3"></i>
                                                    </p>
                                                    <span class="text-muted small">20 min ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="text-divider text-center small pb-2 px-3">
                                            <span>Old notifications</span>
                                        </li>
                                        <li>
                                            <a href="#" class="list-group-item d-flex hide-show-toggler">
                                                <div>
                                                    <figure class="avatar mr-3">
                                                        <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                            <i class="fa fa-cloud-upload"></i>
                                                        </span>
                                                    </figure>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="mb-0">
                                                        Upgrade plan
                                                        <i title="Mark as unread" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11 position-absolute right-0 top-0 mr-3 mt-3"></i>
                                                    </p>
                                                    <span class="text-muted small">45 sec ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="list-group-item d-flex hide-show-toggler">
                                                <div>
                                                    <figure class="avatar mr-3">
                                                        <span class="avatar-title bg-success-bright text-success rounded-circle">
                                                            <i class="ti-share"></i>
                                                        </span>
                                                    </figure>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="mb-0">
                                                        A file has been shared
                                                        <i title="Mark as unread" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11 position-absolute right-0 top-0 mr-3 mt-3"></i>
                                                    </p>
                                                    <span class="text-muted small">58 sec ago</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="px-3 py-2 text-right border-top">
                                    <ul class="list-inline small">
                                        <li class="list-inline-item mb-0">
                                            <a href="#">Mark All Read</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" title="Settings" data-sidebar-target="#settings">
                                <i class="ti-settings"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link profile-nav-link dropdown-toggle" title="User menu" data-toggle="dropdown">
                                <span class="mr-2 d-sm-inline d-none">Bony Gidden</span>
                                <figure class="avatar avatar-sm">
                                    <img src="../../assets/media/image/user/man_avatar3.jpg" class="rounded-circle" alt="avatar">
                                </figure>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                <div class="text-center py-4" data-background-image="../../assets/media/image/image1.jpg">
                                    <figure class="avatar avatar-lg mb-3 border-0">
                                        <img src="../../assets/media/image/user/man_avatar3.jpg" class="rounded-circle" alt="image">
                                    </figure>
                                    <h5 class="mb-0">Bony Gidden</h5>
                                </div>
                                <div class="list-group list-group-flush">
                                    <a href="#" class="list-group-item" data-sidebar-target="#settings">Settings</a>
                                    <a href="http://bifor.laborasyon.com/login" class="list-group-item text-danger" data-sidebar-target="#settings">Sign Out!</a>
                                </div>
                                <div class="pb-0 p-4">
                                    <div class="mb-4">
                                        <h6 class="d-flex justify-content-between">
                                            Completed Tasks
                                            <span class="float-right">%68</span>
                                        </h6>
                                        <div class="progress" style="height:5px;">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 68%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item header-toggler">
                    <a href="#" class="nav-link">
                        <i class="ti-arrow-down"></i>
                    </a>
                </li>
                <li class="nav-item sidebar-toggler">
                    <a href="#" class="nav-link">
                        <i class="ti-cloud"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- ./ Header -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- begin::navigation -->
        <app-navigation></app-navigation>
        <!-- end::navigation -->

        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="content">
                    <div class="page-header">
        <h2>Settings</h2>
    </div>

    <div class="nav nav-pills mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-item nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Account</a>
        
        <a class="nav-item nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Security</a>

        <a class="nav-item nav-link" id="v-pills-signature-tab" data-toggle="pill" href="#v-pills-signature" role="tab" aria-controls="v-pills-signature" aria-selected="false">E-Signature</a>

        <!-- <li class="nav-item cursor-pointer">
            <div (click)="eSignatures()" class="nav-link" title="sign here">
              <i class="ti-view-grid"></i>
            </div>
          </li> -->
       
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="content-title">
                <h4>Account</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                   
                            <div class=" mb-3">

                                <div>
                                    <!-- <img [src]="imageSrc" alt="Avatar" (click)="fileInput.click()"  
                                        style="cursor: pointer; width: 100px; height: 100px; border-radius: 50%;"/> -->
                                    <!-- <input type="file" #fileInput (change)="onFileChange($event)" 
                                        accept="image/*" style="display: none;" /> -->
                                        <!-- <input type="file" #fileInput (change)="onFileChange($event)" 
                                        accept="image/*"/> -->
                                </div>
                                <div>
                                    <!-- <p>{{user?.last_name}}</p> -->
                                    <!-- <button (click)="uploadImage()" class="btn btn-outline-primary mr-2">
                                       {{isLoadingImage ? 'Loading...' : 'Change Avatar'}} </button> -->
                                </div>

                            </div>

                            <!-- <div>
                                <input type="file" (change)="handleImageChange($event)">
                                <button (click)="updateMemo()">update</button>
                            </div> -->
                    <form>   
                        <div class="row my-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" value="{{user?.last_name}}">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" value="{{user?.email}}">
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" value="{{user?.phone}}">
                                </div>
                            </div>
                        </div>
                        <!-- {{isLoading ? 
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div> : 
                    }} -->
                        <button class="btn btn-primary mb-5">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
     
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="content-title">
                <h4>Security</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>New Password Repeat</label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary mb-5">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="v-pills-signature" role="tabpanel" aria-labelledby="v-pills-signature-tab">
            <div class="esignatures-container">
                <div class="content-title">       
                    <h4>E-Signatures Management</h4>
                </div>
    <form  (ngSubmit)="addESignature()" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" class="form-control" [(ngModel)]="esignature.title" name="title" required>
                    </div>
              
                  <label for="image">Upload Image:</label>
                  <input type="file" id="image" (change)="fileChange($event)" accept="image/*" required>
              
                  <!-- <button  class="btn btn-primary" type="submit"> {{data&&data.length>0?"Updata E Signature":"Add E-Signature"}}</button> -->
                  <button [disabled]="isLoading" class="btn btn-primary my-5" type="submit">
                    {{ isLoading ? 'Loading.....' : (data && data.length > 0 ? 'Update E-Signature' : 'Add E-Signature') }}
                  </button>
            </div>
        </div>
    </form>
              
                  <div class="card border-0">
                    <div class="table-responsive">
                        <table id="user-list" class="table table-borderless table-hover">
                            <thead *ngIf="returnData() && returnData().length > 0">
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Image</th>
                            </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let signature of returnData()">
                                    <!-- <td>{{ signature.id }}</td> -->
                                    <td>{{ signature.Title }}</td>
                                   
                                    <td>{{ signature.CreatedAt | date:'medium' }}</td>
                                    <td>
                                        <img [src]="signature.ESignFile" class="signature-image" alt="E-Signature" width="100">
                                    </td>
                                    <!-- <button>Action</button> -->
                                </tr>
                           
                            
                           
                            
                            <!-- <tr>
                                <td></td>
                                <td>
                                    <a href="#">
                                        <figure class="avatar avatar-sm mr-2">
                                            <img src="../../assets/media/image/user/women_avatar5.jpg" class="rounded-circle" alt="avatar">
                                        </figure>
                                        Mariann Pepperrall
                                    </a>
                                </td>
                                <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="375a47524747524545565b5b017743455e475653415e4458451954585a">[email&#160;protected]</a></td>
                                <td>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 67%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>Admin</td>
                                <td>
                                    <span class="badge bg-success-bright text-success">Active</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                            <i class="ti-more-alt"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item" data-sidebar-target="#folder-info">View Detail</a>
                                            <a href="#" class="dropdown-item">Edit</a>
                                            <a href="#" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="#">
                                        <figure class="avatar avatar-sm mr-2">
                                            <img src="../../assets/media/image/user/man_avatar5.jpg" class="rounded-circle" alt="avatar">
                                        </figure>
                                        Erl Srutton
                                    </a>
                                </td>
                                <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="442137363130302b2a730423212b272d302d21376a2e34">[email&#160;protected]</a></td>
                                <td>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>Admin</td>
                                <td>
                                    <span class="badge bg-danger-bright text-danger">Blocked</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                            <i class="ti-more-alt"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item" data-sidebar-target="#folder-info">View Detail</a>
                                            <a href="#" class="dropdown-item">Edit</a>
                                            <a href="#" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="#">
                                        <figure class="avatar avatar-sm mr-2">
                                            <img src="../../assets/media/image/user/women_avatar1.jpg" class="rounded-circle" alt="avatar">
                                        </figure>
                                        Luce Meddings
                                    </a>
                                </td>
                                <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d0bcbdb5b4b4b9beb7a3e890a5a3b1feb7bfa6">[email&#160;protected]</a></td>
                                <td>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>Staff</td>
                                <td>
                                    <span class="badge bg-success-bright text-success">Active</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                            <i class="ti-more-alt"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item" data-sidebar-target="#folder-info">View Detail</a>
                                            <a href="#" class="dropdown-item">Edit</a>
                                            <a href="#" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="#">
                                        <figure class="avatar avatar-sm mr-2">
                                            <img src="../../assets/media/image/user/man_avatar2.jpg" class="rounded-circle" alt="avatar">
                                        </figure>
                                        Osbourne Wiskar
                                    </a>
                                </td>
                                <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e689918f958d8794dfa68b8a84c885898b">[email&#160;protected]</a></td>
                                <td>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>Staff</td>
                                <td>
                                    <span class="badge bg-success-bright text-success">Active</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                            <i class="ti-more-alt"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item" data-sidebar-target="#folder-info">View Detail</a>
                                            <a href="#" class="dropdown-item">Edit</a>
                                            <a href="#" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="#">
                                        <figure class="avatar avatar-sm mr-2">
                                            <img src="../../assets/media/image/user/women_avatar3.jpg" class="rounded-circle" alt="avatar">
                                        </figure>
                                        Jeannette Daintith
                                    </a>
                                </td>
                                <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="dfb5bbbeb6b1abb6abb7be9fbdb3b0b8b8baadf1bcb0b2">[email&#160;protected]</a></td>
                                <td>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 67%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>Staff</td>
                                <td>
                                    <span class="badge bg-danger-bright text-danger">Blocked</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                            <i class="ti-more-alt"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item" data-sidebar-target="#folder-info">View Detail</a>
                                            <a href="#" class="dropdown-item">Edit</a>
                                            <a href="#" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="#">
                                        <figure class="avatar avatar-sm mr-2">
                                            <img src="../../assets/media/image/user/man_avatar1.jpg" class="rounded-circle" alt="avatar">
                                        </figure>
                                        Payton Espinola
                                    </a>
                                </td>
                                <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="26564355564f48494a4744664e4e5508414950">[email&#160;protected]</a></td>
                                <td>
                                    <div class="progress" style="height: 5px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>Staff</td>
                                <td>
                                    <span class="badge bg-danger-bright text-danger">Blocked</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                            <i class="ti-more-alt"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item" data-sidebar-target="#folder-info">View Detail</a>
                                            <a href="#" class="dropdown-item">Edit</a>s
                                            <a href="#" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
                  
               
        </div>
        </div>
    </div>
            </div>
        </div>
        <!-- ./ Content body -->

        <!-- Sidebar group -->
        <app-sidebar></app-sidebar>
        <!-- ./ Sidebar group -->
    </div>
    <!-- ./ Content wrapper -->
</div>