<div *ngIf="isLoading" class="loading-spinner">
  <!-- Loading spinner while checking -->
  Loading...
</div>

<!-- <div *ngIf="!isLoading" class="col-6 mx-auto"> -->
  <div class="col-6 mx-auto" *ngIf="!isLoading">
  <div *ngIf="showPhoneOtpInput">
  <!-- <div *ngIf="showPhoneOtpInput"> -->
    <label for="phone">Enter your phone number:</label>
    <input id="phone" class="form-control" type="text" [(ngModel)]="phoneNumber" />
    <button class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 my-2"  (click)="sendSmsOtp()">Send OTP</button>
  </div>

  <div *ngIf="showEmailOtpInput">
    <label for="email">Enter your email:</label>
    <input id="email" type="email" class="form-control" [(ngModel)]="email" />
    <button class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700"  (click)="sendEmailOtp()">Send OTP</button>
  </div>

  <div *ngIf="showOtpVerification">
    <label for="otp">Enter OTP:</label>
    <input id="otp" type="text" class="form-control" [(ngModel)]="otp" />
    <button class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700" (click)="verifyOtp()">Verify OTP</button>
  </div>

  <div *ngIf="message">{{ message }}</div>





  <div *ngIf="latitude && longitude">
    <h2>Your current location is:</h2>
    <p>Latitude: {{ latitude }}</p>
    <p>Longitude: {{ longitude }}</p>
  </div>
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
  
</div>
