<div class="form-group px-5">
    <form (ngSubmit)="onSubmit()">
        <!-- {{handleModal.publishMemId}} -->
        <div>

            <label>Enter your Otp</label>
            <input type="text" class="form-control" [(ngModel)]="otp" name="otp">
        </div>
        <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 my-3">
            {{ isLoading ? 'Submitting...' : 'Submit' }}
          </button>
    </form>
</div>
