<div class="form-membership" style="background: url(../../assets/media/image/image1.jpg)">
    <div class="form-wrapper">

        <!-- logo -->
        <div id="logo">
            <img src="../../assets/media/image/logo-dark.png" alt="image">
        </div>

        <h5>Reset Password</h5>
        <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
           <!-- New Password Field -->
            <div class="form-group">
                <input 
                    type="password" 
                    class="form-control" 
                    formControlName="password" 
                    placeholder="New Password" 
                    [ngClass]="{'is-invalid': resetPassword.get('password').invalid && resetPassword.get('password').touched}"
                    required>
                <div *ngIf="resetPassword.get('password').invalid && resetPassword.get('password').touched" class="invalid-feedback">
                    <small *ngIf="resetPassword.get('password').errors.required">Password is required.</small>
                    <small *ngIf="resetPassword.get('identity').errors.required">password is required.</small>
                </div>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group">
                <input 
                    type="password" 
                    class="form-control" 
                    formControlName="confirmPassword" 
                    placeholder="Confirm Password" 
                    [ngClass]="{'is-invalid': resetPassword.get('confirmPassword').invalid && resetPassword.get('confirmPassword').touched}"
                    required>
                <div *ngIf="resetPassword.get('confirmPassword').invalid && resetPassword.get('confirmPassword').touched" class="invalid-feedback">
                    <small *ngIf="resetPassword.get('confirmPassword').errors.required">Confirm Password is required.</small>
                    <small *ngIf="resetPassword.errors.passwordMismatch">Passwords must match.</small>
                </div>
            </div>

            <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700">
                {{ isLoading ? 'Submitting...' : 'Submit' }}
            </button>
        </form>
        <!-- ./ form -->

    </div>
</div>
