<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; 
  font-family: Arial, sans-serif;" class="py-5">

  <ng-container *ngIf="status === 'data'">
    <div style="background: white; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); padding: 20px; max-width: 600px; width: 100%; text-align: center;">
      <h2 style="color: #333; margin-bottom: 20px;">Title:</h2>
      <p style="color: #555; line-height: 1.5;">{{data?.MemTitle}}</p>
      <h2 style="color: #333; margin-bottom: 20px;">Contents:</h2>
      <p [innerHTML]="data?.MemContents" style="color: #555; line-height: 1.5;"></p>
      <div style="align-items: center; justify-content: center; margin-bottom: 20px; margin-left: 400px;">
        <p style="color: #555; margin: 0;">Signature</p>
        <img src="{{data?.signature.ESignFile}}" alt="Signature" style="margin-left: 10px; width: 50px; height: auto;">
      </div>
    </div>
  </ng-container>
  
 
   <div *ngIf="status === 'error'" style="color: red; font-size: 18px; margin-top: 20px;">
     <p>{{ message }}</p>
   </div>
 
   <div *ngIf="status === 'isLoading'" class="spinner-container" style="margin-top: 20px;">
      <div class="spinner"></div>
   </div>
   

   <div >
     <div *ngIf="status=='requireAccess'" id="verification">
       <h3 class="text-center">This is a restricted Document</h3>
    <p>Please enter your email or phone number to receive an OTP:</p>
    <input type="text" [(ngModel)]="identity" placeholder="Enter email or phone number" class="form-control">
    <button (click)="sendIdentityOtp()" style="box-shadow: 2rem;" class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 my-3">{{isLoader ? 'Loading ...' : ' Send OTP'}}</button>
    </div>
  </div>
 </div>
 