<div class="layout-wrapper">
    <!-- Header -->
    <!-- ./ Header -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- begin::navigation -->
         <app-header></app-header>
        <app-navigation></app-navigation>
        <!-- end::navigation -->

        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="row">
      <div class="content">
        <div *ngIf="isLoading" class="spinner-container">
          <div class="text-center">
            <div class="spinner"></div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="!isLoading">
            <div class="page-header d-flex justify-content-between">
                <h2>Users</h2>
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" title="Filter" data-toggle="dropdown">
                            <i class="ti-filter"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-big p-4 dropdown-menu-right">
                            <form>
                                <div class="form-group">
                                    <label>Role</label>
                                    <select id="roleSelect" [(ngModel)]="selectedValue"  class="form-control" [ngModelOptions]="{standalone: true}">
                                      <option [value]="undefined" selected>Select a role</option>
                                      <option *ngFor="let item of userRoles"  [value]="item.id">{{ item.RoleName }}</option>
                                  </select>
                                </div>
                                <!-- <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control">
                                        <option value="">Select</option>
                                        <option value="">Active</option>
                                        <option value="">Blocked</option>
                                        <option value="">Admin</option>
                                    </select>
                                </div> -->
                                <button class="btn btn-primary" (click)="filter()">Filter</button>
                              </form>
                        </div>
                    </li>
                    <li class="nav-item cursor-pointer">
                      <div (click)="createUser()" class="nav-link" title="create user">
                        <i class="ti-view-grid"></i>
                      </div>
                    </li>
                </ul>

            </div>
            <div class="card border-0">
                <div class="table-responsive" *ngIf="!isLoading">
                  <table id="user-list" class="table table-borderless table-hover">
                    <thead>
                      <tr>
                        <th>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="user-list-select-all">
                            <label class="custom-control-label" for="user-list-select-all"></label>
                          </div>
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <!-- <th>Storage</th> -->
                        <th>Role</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of makeFilter()">
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="user-{{user?.id}}">
                            <label class="custom-control-label" for="user-{{user?.id}}"></label>
                          </div>
                        </td>
                        <td>
                          <a href="#">
                            <figure class="avatar avatar-sm mr-2">
                              <img src="../../assets/media/image/user/avatar2.jpg" class="rounded-circle" alt="image">
                            </figure>
                            {{user?.full_name}}
                          </a>
                        </td>
                        <td>
                          <a href="mailto:{{user?.email}}">{{user?.email}}</a>
                        </td>
                        <!-- <td>
                          <div class="progress" style="height: 5px">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td> -->
                        <td>{{user?.UserRole?.RoleName}}</td>
                        <td>
                          <span [class]="!user.is_locked_out?'badge bg-success-bright text-success':'bg-danger-bright text-danger badge'">{{user.is_locked_out?"Block":"Active"}}</span>
                        </td>
                        <td>
                          <div class="dropdown">
                            <a href="#" class="btn btn-floating" data-toggle="dropdown">
                              <i class="ti-more-alt"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <button 
                              (click)="suspendUserMethod(user.id, suspendUser ? 'unsuspend' : 'suspend')" 
                              class="dropdown-item"
                            >
                              {{ user.is_locked_out ? 'Unsuspend' : 'Suspend' }}
                            </button>
                            
                               <button (click)="authentication(user.id)" class="dropdown-item">Authentication</button>                             
                              </div>
                            <div class="dropdown-menu dropdown-menu-right">
                          </div>
                        </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>

            </div>
            <!-- ./ Content -->

            <!-- Footer -->
            <!-- <footer class="content-footer d-print-none">
                <div>© 2020 Filedash - <a href="http://laborasyon.com" target="_blank">Laborasyon</a></div>
                <div>
                    <nav class="nav">
                        <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                        <a href="#" class="nav-link">Change Log</a>
                        <a href="#" class="nav-link">Get Help</a>
                    </nav>
                </div>
            </footer> -->
            <!-- ./ Footer -->
        </div>
        <!-- ./ Content body -->

        <!-- Sidebar group -->
        <app-sidebar></app-sidebar>
        <!-- ./ Sidebar group -->
    </div>
    <!-- ./ Content wrapper -->
</div>