<div class="container">
    <h1 class="question">Frequently Asked Questions</h1>
    <p class="answer">Have questions? We have answers!</p>
    <div class="accordion">
        <div class="accordion-item">
            <input type="checkbox" id="accordion-1">
            <h2 class="accordion-header">
                <label for="accordion-1">What is Blockchain?</label>
            </h2>
            <div class="accordion-content">
                <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, laborum!
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion-2">
            <h2 class="accordion-header">
                <label for="accordion-2">How is Blockchain Secure?</label>
            </h2>
            <div class="accordion-content">
                <div class="accordion-body">
                    Blockchain uses consensus mechanisms, such as Proof of Work (PoW) or Proof of Stake (PoS), to validate and agree on the state of the network. These mechanisms require participants (nodes or validators) to solve complex mathematical puzzles or stake cryptocurrency to participate in the consensus process.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion-3">
            <h2 class="accordion-header">
                <label for="accordion-3">What is the Difference Between Public and Private Blockchains?</label>
            </h2>
            <div class="accordion-content">
                <div class="accordion-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, voluptates.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion-4">
            <h2 class="accordion-header">
                <label for="accordion-4">How Can I Get Started with Blockchain?</label>
            </h2>
            <div class="accordion-content">
                <div class="accordion-body">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto soluta officia incidunt saepe reprehenderit facere, sint deserunt necessitatibus accusantium neque?
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <input type="checkbox" id="accordion-5">
            <h2 class="accordion-header">
                <label for="accordion-5">What Are Some Real-World Use Cases of Blockchain?</label>
            </h2>
            <div class="accordion-content">
                <div class="accordion-body">
                    Blockchain uses consensus mechanisms, such as Proof of Work (PoW) or Proof of Stake (PoS), to validate and agree on the state of the
                    network. These mechanisms require participants (nodes or validators) to solve complex mathematical puzzles or stake cryptocurrency to
                    participate in the consensus process.
                </div>
            </div>
        </div>
    </div>
</div>