<div class="hero-bg">
    <div class="row align-items-center absolute p-4">
        <div id="landing-page" class="col-6">
            <h1 class="navigating">
                Navigating the world
            </h1>
            <h1 class="navigating">of blockchain</h1>
            <p class="text-white-50 mb-4 my-5">
                In our digital world, trust, security, and efficiency are vital. Enter blockchain
                technology, the game-changer.
            </p>
            <div class="d-flex" id="white-paper">
                <p (click)="navigateToLogin()" class="custom-button get-started">GET STARTED</p>
                <p class="custom-button white-paper">WHITE PAPER</p>
            </div>
        </div>

        <div class="col-6 ">
            <div id="safesecure" class="d-flex justify-content-center align-items-center">
                <p class="text-white mt-2">Secure & safe</p>
                <img src="assets/media/image/safe.png" width="40" height="40" alt="logo" class="logo">
                <p class="text-white mt-2">Trustworthy</p>
                <img src="assets/media/image/safe.png" width="40" height="40" alt="logo" class="logo">
            </div>
            <div id="safesecure2" class="d-flex justify-content-center align-items-center">
                <p class="text-white mt-2">Tested</p>
                <img src="assets/media/image/safe.png" width="40" height="40" alt="logo" class="logo">
                <img src="assets/media/image/safe.png" width="40" height="40" alt="logo" class="logo">
                <p class="text-white mt-2">Optimized</p>
            </div>
        </div>
    </div>
</div>
