<section class="toen">
    <div class="token-container">
        <div class="row">
        <div class="col-md-6">
            <p>
                <img src="/assets/media/image/bitcoin.png" alt="Token" class="token-icon">
            </p>
            <div class="token-title">Token Distribution</div>
            <div class="token-description">
                Token distribution refers to the process of allocating and distributing tokens within a blockchain ecosystem.
            </div>
            <div class="token-description">
                When a new blockchain project is launched, a specific number of tokens are created, and these tokens are distributed among various stakeholders, including founders.
            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/media/image/distribution.png" alt="Token Distribution" class="token-image">
        </div>
    </div>
</div>
</section>