<div class="">
  <div class="px-5 mb-5">
    <h3 class="text-center">Create User</h3>
    <!-- form -->
    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="full_name">Full Name</label>
        <input type="text" class="form-control" formControlName="full_name" placeholder="Full Name"> 
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input formControlName="email" type="email" class="form-control" placeholder="Enter email">
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" class="form-control" formControlName="phone" placeholder="Phone Number">
      </div>

      <div class="form-group">
        <label for="role_id">Select Role</label>
        <select class="form-control" formControlName="role_id">
          <option value="" disabled selected>Select Role</option>
          <option *ngFor="let role of userRoles" [value]="role.Id">{{ role.RoleName }}</option>
        </select>
      </div>

      <button type="submit" [disabled]="isLoading" class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700">
        {{ isLoading ? 'Submitting...' : 'Create User' }}
      </button>
    </form>
  </div>
</div>
