<div class="">
        <h1 class="platform">Our Best Blockchain</h1>
        <h1 class="platform">Solution Platform</h1>
    <div class="feature-container">
        <div class="intro-text">
            A blockchain solution platform is a comprehensive software or infrastructure that enables businesses and developers to build,
        </div>
        
        <div class="features-list">
            <div class="feature-item">
                <div>
                    <img src="assets/media/image/support.png" width="50" height="50" alt="logo">
                </div>
                <div class="feature-content">
                    <h3>Blockchain Protocol Support</h3>
                    <p>Our supports different blockchain protocols, such as Ethereum</p>
                </div>
            </div>

            <div class="feature-item">
                <div>
                <img src="assets/media/image/monitoring.png" width="50" height="50" alt="logo">
                </div>
                <div class="feature-content">
                    <h3>Analytics and Monitoring</h3>
                    <p>Comprehensive analytics and monitoring tools are included</p>
                </div>
            </div>

            <div class="feature-item">
                <div>
                    <img src="assets/media/image/security.png" width="50" height="50" alt="logo">
                </div>
                <div class="feature-content">
                    <h3>Security Measures</h3>
                    <p>Robust security features and cryptographic protocols</p>
                </div>
            </div>

            <div class="feature-item">
                <div>
                    <img src="assets/media/image/gov.png" width="50" height="50" alt="logo">
                </div>
                <div class="feature-content">
                    <h3>Governance Mechanisms</h3>
                    <p>Flexible governance and control mechanisms</p>
                </div>
            </div>
        </div>

        <div class="circular-design">
            <div class="circle-container">
                <div class="gradient-circle">
                    <img src="assets/media/image/circle.png" width="480" height="480" alt="logo">
                </div>
                <div class="lock-icon">
                    <img src="assets/media/image/thumb.png" width="150" height="150" alt="logo">
                </div>
            </div>
        </div>
    </div>
</div>