<div class="container">
    <h1 class="token text-center">Live Token Market Updates</h1>
    <p class="analyse text-center">Stay Informed with Live Data and Analysis</p>
    <div class="row">
        <div class="col-md-6 mb-4">
            <h2 class="section-title">Information About Tokens</h2>
            
            <div class="info-card">
                <p class="info-label">Token Name</p>
                <p class="info-value">coindox(ITU)</p>
            </div>

            <div class="info-card">
                <p class="info-label">Nominal Price</p>
                <p class="info-value">1 ITU = 0.025 USD</p>
            </div>

            <div class="info-card">
                <p class="info-label">Number of Tokens Produced</p>
                <p class="info-value">7 BN ITU</p>
            </div>

            <div class="info-card">
                <p class="info-label">Unsold Tokens</p>
                <p class="info-value">Burn Smart Contract</p>
            </div>

            <div class="info-card">
                <p class="info-label">Type of the Token</p>
                <p class="info-value">ERC-20</p>
            </div>
        </div>

        <!-- Terms & Conditions Section -->
        <div class="col-md-6 mb-4">
            <h2 class="section-title">Terms & Conditions</h2>
            
            <div class="info-card">
                <p class="info-label">Minimum Payment</p>
                <p class="info-value">100 USD</p>
            </div>

            <div class="info-card">
                <p class="info-label">Maximum Payment in the first 7 days</p>
                <p class="info-value">100 000 USD</p>
            </div>

            <div class="info-card">
                <p class="info-label">Maximum Payment in the first 7 days</p>
                <p class="info-value">No Limits</p>
            </div>

            <div class="info-card">
                <p class="info-label">Soft Cap</p>
                <p class="info-value">15 MLN USD</p>
            </div>

            <div class="info-card">
                <p class="info-label">Hard Cap</p>
                <p class="info-value">75 MLN USD</p>
            </div>
        </div>
    </div>
</div>