<div>
    <ng-container *ngIf="handleModals?.qrCodeData">
        <h3>Scan your physical QR Code</h3>
        <div>
    <div class="form-group" >
    <label for="qrInput">Enter URL or Text:</label>
    <input type="text" [(ngModel)]="handleModals.qrCodeData.MemUniqueId" class="form-control" id="qrInput" disabled>
    <img [src]="handleModals?.qrCodeData?.MemQrCode" alt="Generated QR Code">
    </div>
    <button (click)="createQrCode()"  type="submit"  class="btn btn-primary btn-block w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 my-3">
        {{ isLoading ? 'Submitting...' : 'Submit' }} 
    </button>
</div>
</ng-container>
<ng-container *ngIf="!handleModals?.qrCodeData" >
    <div class="text-center">No Qrcode available </div>
</ng-container>
                       
    
</div>
