<div class="">
    <h1 class="comparison text-center">Comparison With Competitors and</h1>
    <h1 class="comparison text-center">Our Advantages</h1>
        <p class="analyzing text-center">Analyzing competitors showcases our standout advantages</p>
    <div class="comparison-table">
        <table class="table w-100">
            <thead>
                <tr>
                    <th>Futures</th>
                    <th>IDV System</th>
                    <th>Creating Apps</th>
                    <th>Confidentiality</th>
                    <th>Without Gadget</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="company-name">coindox</td>
                    <td><img src="assets/media/image/badge_active.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/star.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/badge_active.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/star.png" width="15" height="15" alt="logo"></td>
                </tr>
                <tr>
                    <td class="company-name">Civic</td>
                    <td><img src="assets/media/image/badge_active.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/star.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/badge_active.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/star.png" width="15" height="15" alt="logo"></td>
                </tr>
                <tr>
                    <td class="company-name">Vilid.global</td>
                    <td><img src="assets/media/image/badge_active.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/star.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/badge_active.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/star.png" width="15" height="15" alt="logo"></td>
                </tr>
                <tr>
                    <td class="company-name">Hypr</td>
                    <td><img src="assets/media/image/badge_active.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/badge_active.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/star.png" width="15" height="15" alt="logo"></td>
                    <td><img src="assets/media/image/star.png" width="15" height="15" alt="logo"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>